{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="alert alert-dismissable alert-success">
            <strong>
                <i class="fa fa-check"></i>
                {{ entity.nombre|title }} {{ entity.paterno|title }} {{ entity.materno|title }}, hemos recibido tu información. </strong>
            <br>
            <br>
            <p class="text-justify">Si no recibes el correo de confirmación puedes verificar en tu bandeja de correos no deseados,
                si no lo has recibido puedes escribir a: <br><strong>webmaster<i class="fa fa-at"></i>matmor.unam.mx</strong><br>
                para confirmar tu registro.
            </p>
        </div>
        <div class="col-lg-7 col-lg-offset-5">
            <a href="{{ url }}" type="button"  class="btn btn-primary">Finalizar</a>
        </div>
    </div>

{% endblock %}